  /** pricing.css */
  @import url("https://fonts.googleapis.com/css?family=Alegreya:900%7COpen+Sans%7CSlabo+27px&display=swap");

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  h1 {
      color: #025157;
      font-family: "Alegreya", serif;
      font-size: 60px;
      margin-bottom: 24px;
  }
  
  .main p {
      color: #46484c;
      max-width: 680px;
      margin: 0 auto;
      margin-bottom: 72px;
  }
  
  main {
      margin-top: 285px;
      text-align: center;
  }


  body {
      background-color: #fffbf7;
      font-family: "Open Sans", sans-serif;
  }
  
  .logo {
      width: 15%;
  }
  
  .logo>img {
      width: 15%;
  }

  .container-fluid {
    text-align: left;
  }

  .action button {
    background-color: #67b54b;
    color: white;
    border: none;
    border-radius: 5px 5px;
    padding: 15px 10px;
}

.navbar {
    width: 100%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    background-color: #fffbf7;
    display: inline-flexbox;
}

.container-fluid {
    text-align: left;
}

.faq {
    margin-top: 50px;
    padding-bottom: 120px;
  }
  
  .faq h2 {
    color: #025157;
    font-family: "Alegreya", serif;
  }
  
  .faq .card-header {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .faq h2 > button {
    color: #025157;
    font-size: 28px;
    font-weight: 900;
  }
  
  .faq .card .card-body a {
    color: #6abf4b;
  }