/*selectores son 3 el nombre del elemento, id y class */
/* selector con el nombre del elemento  
header {

    background: red;
}
*/

/* selector con el id 

#header {

    background: blue;
}
*/

/* selector por class 

.header {
    background: purple;
}



 width: 100% ;
 height: 500px ;
 /* margin-top: 50px  ;
 margin-bottom: 100px;
 margin-left: 60px;
 margin-right: 60px; */
/*        top   r    b     l  tanto margin como padding*/

 /* se aplica 50 al tp y al botm y 10 a r y l  */
 /* todas las areas */
 



/* investigar e intentar dejar los margenes del header como esta en matcha, en caso de ser necesario, investigar los displays */
/* que es un display, que es dispolay inline, display block */

.body {
  background-color: #fffbf7;
}

.action button {
    background-color: #67b54b;
    color: white;
    border: none;
    border-radius: 5px 5px;
    padding: 15px 10px;
}

.action a {
  text-decoration: none;
  margin-right: 10px;
}

.navbar {
    width: 100%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    background-color: #fffbf7;
}

.container-fluid {
    text-align: left;
}

.navbar-light .nav-item .nav-link {
  color: #025157;
}

.navbar-light .navbar-toggler {
  border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

main {
    max-width: 100%;
    margin: 300px 10px 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
}

main h1 {
  font-family: 'Alegreya', serif;
  font-size: 60px;
  margin-bottom: 24px;
}

main .sub p {
  font-family:'Slabo 27px', serif;
  font-size: 20px;
}

.publi {
    display: flex;
    max-width: 100%;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
}

video {
  width: 500px;
  height: 250px;
}

.video img {
  margin-top: 20px;
}

.pubText {
  width: 500px;
  height: 250px;
  margin-bottom: 150px;
  max-width: 100%;
}

.pubText h2 {
  font-family: 'Alegreya', serif;
  font-size: 40px;
  color: #025157;
  line-height: 48px;
  
}

.Try button{
  border: 1px solid #025157;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #025157;
  align-items: center;
  color: white;
  margin-left: -10px;
  padding: 6px 20px;
}

.Try input {
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #b6b6b6;
}

.Start button {
  border: 2px solid #025157;
  border-radius: 5px;
  background-color: #025157;
  text-align: center;
  color: white;
  margin-left: -10px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 20px;

}

.Start input {
  border: 2px solid #e3e3e3;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  Padding: 6px 20px;
}

.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  padding-left: 40px;
}

.features .feature-card .feature-content h3 {
  font-weight: 400;
  color: #343434;
  font-size: 24px;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content a {
  color: #67b54b;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .success-stories .overview {
    flex: 2;
    padding-right: 100px;
  }
  
  .success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
  }
  
  .success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .success-stories .overview button {
    font-size: 16px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 30px;
    background-color: #025157;
    color: #fff;
    border: #025157;
  }
  
  .success-stories .overview img {
    width: 500px;
    max-width: 100%;
  }

  .card {
    display: flex;
    padding: 20px;
    width: 350px;
    height: 500px;
  }

  .company {
    position: absolute;
    top: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .company img {
    width: 70px;
    height: 60px;
  }

  .cardresults {
    align-items: center;
    display: flex;
    color: #828282;
  }

  .cardfooter button {
    display: flex;
    background-color: #025157;
    border: none;
    border-radius: 10px 10px;
    height: 50px;
    width: 140px;
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px;
  }

  .cardfooter {
    display: flex;
    align-items: center;
    
  }